[Unit]
Description=SBOM web application

[Service]
Type=simple
WorkingDirectory=/opt/sbom-app
# TODO perhaps we don't need that full path to nix-shell
# if we switch to installing nix-bin via puppet, but that
# didn't work out earlier
# https://github.com/apache/infrastructure-p6/pull/1720
ExecStart=/root/.nix-profile/bin/nix-shell --run "python3 -m app"
Restart=on-failure

[Install]
WantedBy=multi-user.target
