[Unit]
Description=ASF Security Dashboard Frontend

[Service]
Type=exec
WorkingDirectory=/opt/dashboard-frontend
PIDFile=/opt/dashboard-frontend/state/dashboard-frontend.pid
ExecStart=/usr/local/bin/uv run server.py
ExecReload=/bin/kill -SIGINT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
