[Unit]
Description=ASF Security Dashboard Backend

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=HOME=/root
Type=exec
WorkingDirectory=/opt/dashboard-backend
PIDFile=/opt/dashboard-backend/dashboard-backend-watch-changes.pid
ExecStart=/usr/local/bin/uv run security-dashboard-backend-watch-changes.py -t /opt/email-classification
ExecReload=/bin/kill -SIGINT $MAINPID
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
