[Unit]
Description=ASF Security Dashboard Backend

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=HOME=/root
Type=exec
WorkingDirectory=/opt/dashboard-backend-watch-label-renames
PIDFile=/opt/dashboard-backend-watch-label-renames/dashboard-backend-watch-label-renames.pid
ExecStart=/usr/local/bin/uv run security-dashboard-backend-watch-label-renames.py -t /opt/email-classification
ExecReload=/bin/kill -SIGINT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
