[Unit]
Description=ASF Security Dashboard Frontend

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=UV_PYTHON=/usr/bin/python3
Environment=UV_PYTHON_DOWNLOADS=never
Type=exec
WorkingDirectory=/opt/dashboard-frontend
PIDFile=/opt/dashboard-frontend/state/dashboard-frontend.pid
ExecStart=/usr/local/bin/uv run hypercorn server:application
ExecReload=/bin/kill -SIGINT $MAINPID
Restart=always
MountAPIVFS=yes
TemporaryFileSystem=/
BindReadOnlyPaths=/usr /opt/dashboard-frontend /opt/email-classification /opt/pipx/venvs/uv /lib /lib64 /bin /sbin /etc/resolv.conf /etc/nsswitch.conf /etc/ssl/certs
BindPaths=/opt/dashboard-frontend/.uv_cache

[Install]
WantedBy=multi-user.target
