{% extends "layouts/base.html" %}

{% block title %}
Security reports
{% endblock title %}
{% block page_title %}
Security reports
{% endblock page_title %}


{% block content %}

<p>
This dashboard gives an overview of the security reports
currently tracked by the Apache Security Team.
</p>

<p>
{% if current_user.is_authenticated %}
  {% if current_user.accessible_pmcs %}
    Select a project:
    <ul>
    {% for pmc in current_user.accessible_pmcs %}
    <li><a href="{{ url_for('client.project', project=pmc) }}">{{ pmc }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    Not a PMC member of any project.
  {% endif %}
{% else %}
<a href="#" onclick="location.href='/auth?login=' + window.location.pathname;"
       class="btn btn-secondary btn-sm">log in</a>
</div>
{% endif %}
</p>
{% endblock content %}
