{% extends "layouts/base.html" %}

{% block title %}
Currently open security reports for {{ project_name }}
{% endblock title %}
{% block page_title %}
Currently open security reports for {{ project_name }}
{% endblock page_title %}

{% block content %}
<p>
This dashboard gives an overview of the security reports
currently tracked by the Apache Security Team for <b>{{ project_name }}</b>.
</p>

<p>
This page is very rudimentary and there will be bugs.
We do plan to add features, but for projects that deal with many reports,
we highly encourage you to use the API to integrate any project-specific tooling.
</p>

<p>
Information on this page may be delayed by as much as a few days.
If you see anything that seems incorrect, email
<a href="mailto:security@apache.org">security@apache.org</a>
</p>

<h2>Reports</h2>
{% if sections %}
  {% for title, description, reports in sections %}
    <h3>{{ title }}</h3>
    {% if description %}
      <p>{{ description }}</p>
    {% endif %}
    <ul>
      {% for report in reports %}
      <li><a href="{{ report.asf_member_link }}">{{ report.title }}</a>
	{% if report.cves %}
          <br>
	  {% for cve in report.cves %}
	    <a href="https://cveprocess.apache.org/cve5/{{cve}}">{{ cve }}</a>
	  {% endfor %}
	{% endif %}
	</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% else %}
  <p>No reports.</p>
{% endif %}
{% endblock content %}
