{% extends "layouts/base.html" %}

{% block title %}
Currently open security reports for {{ project_name }}
{% endblock title %}
{% block page_title %}
Currently open security reports for {{ project_name }}
{% endblock page_title %}

{% block content %}
<p>
This dashboard gives an overview of the security reports
currently tracked by the Apache Security Team for <b>{{ project_name }}</b>.
</p>

<p>
This page is very rudimentary and there will be bugs.
We do plan to add features, but for projects that deal with many reports,
we highly encourage you to use <a href="/api/project/{{ project_name }}/reports">the API</a> to integrate any project-specific tooling.
</p>

<p>
Information on this page may be delayed by as much as a few days.
If you see anything that seems incorrect, email
<a href="mailto:security@apache.org">security@apache.org</a>
</p>

<div id="debt-chart" style="width: 100%; height: 320px;"></div>
<center><p id="debt-chart-status">Security debt is the cumulative ages of open issues in days, plus a constant ({{ debt_constant }}) per open issue.</p></center>


<h2>Reports</h2>
{% if sections %}
  {% for title, description, reports in sections %}
    <h3>{{ title }}
      {% if reports|length > 5 %}
      ({{ reports|length }})
      {% endif %}
    </h3>
    {% if description %}
      <p>{{ description }}</p>
    {% endif %}
    <table class="reports-table">
      <tbody>
        {% for report in reports|sort(attribute='date') %}
        <tr>
          <!-- {{ report.security_team_name }} -->
          <td class="reports-date">{{ report.date.strftime('%Y-%m-%d') }}</td>
          {% if show_subproject %}
          <td class="reports-subproject">{{ report.subproject or "" }}</td>
          {% endif %}
          <td class="reports-jira">
            {%- if report.github -%}
              <a href="{{report.github[1]}}">{{ report.github[0] }}</a>
            {%- endif -%}
            {%- if report.jira -%}
              <a href="https://issues.apache.org/jira/browse/{{report.jira}}">#{{ report.jira.split('-')[-1] }}</a>
            {%- endif -%}
          </td>
          <td class="reports-cves">
            {%- for cve in report.cves -%}
              <div><a href="https://cveprocess.apache.org/cve5/{{cve}}">{{ cve }}</a></div>
            {%- endfor -%}
            {%- if report.state == 'confirmed' and not report.cves -%}
              <div><a href="https://cveprocess.apache.org/allocatecve?pmc={{ project_name|urlencode }}&amp;title={{ report.sanitized_title|urlencode }}">allocate CVE</a></div>
            {%- endif -%}
          </td>
          <td class="reports-reporter">
            {% if report.reporter %}
              <span class="reporter-initials"
                    style="background-color: {{ report.reporter.color }};"
                    title="{{ report.reporter.tooltip }}">{{ report.reporter.initials }}</span>
            {% endif %}
          </td>
          <td class="reports-title">
            <a href="{{ report.link }}" title="{{ report.title }}">{{ report.title }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% else %}
  <center>
    <p class="congrats">Congratulations! Your project is back to 0 open security reports!</p>
    <img src="/assets/img/tokio.jpg">
    <p>Tokio helps vigilantly watch your codebase.</p>
  </center>
{% endif %}
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="/assets/js/echarts.min.js"></script>
  <script src="/assets/js/debt-chart.js"></script>
{% endblock javascripts %}
